
{% extends "base.html" %}
{% block title %}
  Register
{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="form-container w-100">
    <div class="card shadow-sm">
      <div class="card-body p-4 p-md-5">
        <h2 class="card-title text-center mb-4">Register</h2>
        <form action="/register" method="post">
    
          <div class="form-input-spacing">
            <input 
							type="email" 
							class="form-control 
							form-control-lg text-center" 
							id="email" 
							name="email"
            value=" {{ request.form.get('email', '') }}" placeholder="Enter email" required>
          </div>

          <div class="form-input-spacing">
            <input 
							class="form-control form-control-lg text-center" 
							list="country_name_list" name="country_name" 
							id="country_name" placeholder="Enter your country name"
            	value="{{ request.form.get('country_name', '') }}"
							autocomplete="off"
             	required>
            <datalist id="country_name_list">
              {% for country_name in country_names %}
                <option value="{{ country_name }}"></option>
              {% endfor %}
            </datalist>
          </div>
          
          <div class="form-input-spacing">
            <input 
							type="password" 
							class="form-control form-control-lg text-center" 
							id="password" name="password" 
							placeholder="Enter password" 
							required>
          </div>

          <div class="form-input-spacing">
            <input 
							type="password" 
							class="form-control form-control-lg text-center" 
							id="confirm_password" name="confirm_password" 
							placeholder="Confirm password" 
							required>
          </div>
          
          <div class="d-grid mt-4">
            <button type="submit" class="btn btn-primary btn-register">Register</button>
          </div>
          
          <div class="login-link">
            <small>Already registered? <a href="/login">Login here</a></small>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
