{% extends "base.html" %}
{% block title %}
Home
{% endblock %}


{% block body %}
<div class="container min-vh-100 d-flex align-items-center justify-content-center">
  <div class="container mb-4">
    <p>Current country code: <strong>{{ current_country_code }}</strong></p>

    <!-- Country Code Update -->
    <form class="d-flex align-items-center gap-2 mb-4"
          action="{{ url_for('dashboard.update_country_code') }}"
          method="post">
      <input type="text"
             class="form-control"
             name="country_code"
             placeholder="Change country code"
             list="country-codes">
      <datalist id="country-codes">
        {% for code in available_codes %}
          <option value="{{ code }}"></option>
        {% endfor %}
      </datalist>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>

    <!-- Weather Data Table -->
    <div class="table-responsive shadow-sm rounded">
      <table class="table table-hover align-middle text-center">
        <thead class="table-primary">
          <tr>
            <th>Country code</th>
            <th>City</th>
            <th>Weather Status</th>
            <th>Temperature (°C)</th>
            <th>Windspeed (m/s)</th>
            <th>Timestamp</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for weather_data in weather_data_set %}
          <tr>
            <td>{{ weather_data.country_code }}</td>
            <td>{{ weather_data.city }}</td>
            <td>{{ weather_data.status }}</td>
            <td>{{ weather_data.temperature }}</td>
            <td>{{ weather_data.windspeed }}</td>
            <td>{{ weather_data.timestamp }}</td>
            <td>
              <form action="{{ url_for('dashboard.delete_row', id=weather_data.id) }}"
                    method="post"
                    class="d-inline">
                <button type="submit" class="btn btn-outline-danger btn-sm">
                  <i class="bi bi-trash"></i> Delete
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

