.hover-scale {
	transition: transform 0.2s;
}

.hover-scale:hover {
	transform: scale(1.1);
}

.hover-scale:active {
	transform: scale(0.95);
}

body {
	/* loading from static causes a white flicker :( */
	background-image: url("https://www.angelacameron.com/cdn/shop/products/Cloud-Nine-ACFA.jpg?v=1623612022&width=1024");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}



.blur {
	backdrop-filter: blur(10px);
}

.card.blur {
	background-color: rgba(255, 255, 255, 0.1);
}

input.blur {
	background-color: rgba(255, 255, 255, 0.3);
}
