<!-- WORK IN PROGRESS -->

{% extends "base.html" %}
{% block title %}
Home
{% endblock %}

{% block body %}
<div class="container min-vh-100 d-flex align-items-center justify-content-center">
	<div class="container mb-4">
		<p> current country code: {{current_country_code}}
		<form class="d-flex align-items-center gap-2"
	          action={{ url_for("update_country_code") }}
	          method="post">
			<input type="text" class="form-control" name="country_code" placeholder="Change country code" list="country-codes">
			<datalist id="country-codes">
			{% for code in available_codes %}
				<option value="{{ code }}"></option>
			{% endfor %}
			</datalist>
			<button type="submit" class="btn btn-primary" >Update</button>
		</form>


		<table class="table table-striped table-bordered table-hover text-center">
		 <thead>
			<tr>
				<td> Country code </td>
				<td> City </td>
				<td> Weather Status </td>
				<td> Temperature(°C)</td>
				<td> Windspeed(m/s) </td>
				<td> Timestamp </td>
			</tr>
		 </thead>
		 <tbody>
		    {% for weather_data in weather_data_set %}
			<tr>
			    <td>{{ weather_data.country_code }}</td>
				<td>{{ weather_data.city }}</td>
				<td>{{ weather_data.status }}</td>
				<td>{{ weather_data.temperature }}</td>
				<td>{{ weather_data.windspeed }}</td>
				<td>{{ weather_data.timestamp }}</td>
				<td style="border: none;">
					<form action="{{ url_for("delete_row", id=weather_data.id) }}"
						  method="post"> 
						<button type="submit" class="btn btn-danger btn-sm">Delete</button>
					</form>	
				</td>		
		 	</tr>
		   {% endfor %}
		 </tbody>

		</table>
	</div>



</div>
{% endblock %}
